@import "./detault.less";
.container {
    .menu-bar {
        background: @colorR;
        height: calc(100vh);
    }
    .main {
        display: flex;
        flex-direction: column;
        background: #f1f3f5;
        height: calc(100vh);
        .content {
            position: relative;
            padding:20px;
            flex: 1;
        }
    }
    
}
