.container {
    display: flex;
    .menu-bar {
        height: calc(100vh);
        background: yellowgreen;
    }
    .main {
        flex: 1;
        height: calc(100vh);
        background: #a76;
    }
    .content {
        position: relative;
        padding:20px;
    }
}